@model mini_project_csharp.Models.Client

@{
    ViewData["Title"] = "Apagar Cliente";
}

<h2>Confirmação de Exclusão</h2>

<p>Tem certeza de que deseja apagar o seguinte cliente?</p>

<div>
    <p><strong>Nome:</strong> @Model.Nome</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Telefone:</strong> @Model.Telefone</p>
    <p><strong>NIF:</strong> @Model.Nif</p>
</div>

@using (Html.BeginForm("DeleteConfirmed", "Client", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdClientes)
    <button type="submit" class="btn btn-danger">Apagar</button>
    <a href="@Url.Action("Index", "Client")" class="btn btn-secondary">Cancelar</a>
}