@using mini_project_csharp.Models
@model PagedResult<mini_project_csharp.Models.Client>

@{
    ViewData["Title"] = "Clientes";
    var loggedInUserId = ViewBag.LoggedInUserId;
}

<div class="container mt-4">
    <h1 class="display-4 text-center mb-4">Clientes</h1>
    <div class="text-right mb-3">
        <a href="@Url.Action("Add", "Client")" class="btn btn-primary">Adicionar Cliente</a>
    </div>
    <p>Total de Clientes: @Model.TotalCount</p>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>NIF</th>
                <th>Código Postal</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Items)
            {
                <tr>
                    <td>@client.Nome</td>
                    <td>@client.Apelido</td>
                    <td>@client.Endereco</td>
                    <td>@client.Telefone</td>
                    <td>@client.Email</td>
                    <td>@client.Nif</td>
                    <td>@client.CodPostal?.CodPostalFormatado</td>
                    <td>
                        <a href="@Url.Action("Edit", "Client", new { id = client.IdClientes })" class="btn btn-sm btn-primary">Editar</a>
                        <a href="@Url.Action("Delete", "Client", new { id = client.IdClientes })" class="btn btn-sm btn-danger" @(client.IdClientes.ToString() == loggedInUserId ? "disabled" : "")>Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })">Anterior</a>
                </li>
            }
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, pageSize = Model.PageSize })">@i</a>
                </li>
            }
            @if (Model.PageNumber < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })">Próxima</a>
                </li>
            }
        </ul>
    </nav>
</div>